/.vagrant
/.tup
/.stage
/.venv
/build-*
/env.tup
/.spiralrc
/.cache
/.mnt
/etc/config.json
/pkg
/go/src/github.com
/go/src/code.google.com
/go/src/launchpad.net
.fuse_hidden*
*.pyc
*.swp
*.swo
*.pyo
*.egg
*#
.#*
*~
*.vim
.emacs.desktop*
vim.session
!Icon?
.*DS_Store
.com.apple.*
/rpmbuild/BUILD
/rpmbuild/BUILDROOT
/rpmbuild/SOURCES
/rpmbuild/RPMS
/rpmbuild/SRPMS
/.idea/
.ipynb_checkpoints/
/notes/
libspiral.so
/etc/keys
bazel-*
/python/sphinx/_build/
_capi_*.so
